<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="logback.xsd">

	<!-- refer to default setting -->
	<include resource="org/springframework/boot/logging/logback/base.xml" />

	<root level="INFO">
		<appender-ref ref="FILE" />
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>